.title {
  color: #215732;
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.contentBox {
  box-sizing: border-box;
  border: solid white 40px;
  height: 200vh;
  background: linear-gradient(45deg, transparent 49%, #fff 49% 51%, transparent 51%),
    linear-gradient(-45deg, transparent 49%, #fff 49% 51%, transparent 51%);
  background-size: 3em 2em;
  background-color: #eff3f0;
}
