.homePage {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  max-height: 100vh;
}

.contentBox {
  box-sizing: border-box;
  border: solid white 40px;
  border-top: solid white 50px;
  background: linear-gradient(45deg, transparent 49%, #fff 49% 51%, transparent 51%),
    linear-gradient(-45deg, transparent 49%, #fff 49% 51%, transparent 51%);
  background-size: 3em 2em;
  background-color: #eff3f0;
  min-height: calc(100vh);
}
