.snapSection {
  padding-top: 40px;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
  position: relative;
}

.snapSection:first-child {
  margin-top: -50px;
}

.snapSection:last-child {
  margin-bottom: -40px;
  padding-bottom: 40px;
}

.primaryColor {
  background-color: $primary-color;
}
