.header {
  width: calc(100vw - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 45px;
  background-color: white;
  padding-right: 12px;
}

.placement {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw;
  z-index: 99;
}
